<div class="container mt-5">
    <form action="/restaurants" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">店名:</label>
            <input type="text" class="form-control" placeholder="Name" id='name' name="name">
        </div>

        <div class="mb-3">
            <label for="name_en" class="form-label">店名(英文):</label>
            <input type="text" class="form-control" placeholder="Name_en" id="name_en" name="name_en">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">分類:</label>
            <input type="text" class="form-control" placeholder="Category" id="category" name="category">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">店面圖:</label>
            <input type="text" class="form-control" placeholder="Image" id="image" name="image">
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">地址:</label>
            <input type="text" class="form-control" placeholder="Location" id="location" name="location">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">電話號碼:</label>
            <input type="text" class="form-control" placeholder="Phone" id="phone" name="phone">
        </div>
        <div class="mb-3">
            <label for="google_map" class="form-label">Google map:</label>
            <input type="text" class="form-control" placeholder="Google map" id="google_map" name="google_map">
        </div>
        <div class="mb-3">
            <label for="rating" class="form-label">評分:</label>
            <input type="text" class="form-control" placeholder="Rating" id="rating" name="rating">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">說明:</label>
            <input type="text" class="form-control" placeholder="Decription" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>